<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Import Loan Types</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <style>
        .center {
            display: block;
            margin: auto;
            width: 60%;
            padding: 10px
        }
        input:invalid{
            border-color: red;
        }
    </style>
<div class="container justify-content-center" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" th:href="@{/newloan}" >New Loan</a>
              <a class="nav-link" th:href="@{/loanlist}">All Loans</a>
              <a class="nav-link" th:href="@{/imporloantypes}">Import loan types</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
      </nav>

</div>
</head>
<body>
    <h1 class="text-center">Import Loan Types</h1>
    <div method="post" th:action="@{/import_loan_types/}" th:object="${userInfo}" class="input-group mb-3 container justify-content-center">
        <input type="file" class="form-control" id="inputGroupFile02">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Submit</button>
      </div>
</body>
</html>